@media (max-width: 1000px) {
  .user-actions__user {
    margin-left: 30px;
  }

  .menu {
    margin-right: auto;
  }

  .menu__list {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}
