@media (max-width: 1000px) {
  .user-actions__user {
    margin-left: 30px;
  }

  .menu {
    margin-right: auto;
  }

  .menu__item:last-child .menu__link {
    white-space: nowrap;
  }

  .logo {
    margin-bottom: 0px;
  }

  .header__inner {
    min-height: auto;
  }

  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }

  .assortment__title {
    margin-bottom: 30px;
  }
  .assortment {
    margin-bottom: 120px;
  }
  .assortment__list {
    gap: 0;
  }
  .reviews__item:last-child {
    display: none;
  }

  .assortment__list {
    margin-bottom: 120px;
  }
  .main-blog__item-img {
    min-height: 153px;
    min-width: 230px;
  }
  .main-blog__list {
    gap: 67px 21px;
  }
}

@media (max-width: 860px) {
  .user-actions {
    margin-left: -60px;
  }
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: white;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.6s ease;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Cormorant", serif;
  }
  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px 60px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }
  .menu__btn {
    display: flex;
  }

  .menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.5);
  }

  .menu--close.menu--open {
    display: block;
  }

  .mobile-nav,
  .menu__close {
    display: block;
  }

  .menu {
    order: -1;
    margin-right: 0;
  }
  .logo {
    margin-left: auto;
    margin-right: 154px;
  }
}

@media (min-width: 760px) and (max-width: 860px) {
  .user-actions {
    margin-left: 56px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .blockquote__text {
    max-width: 640px;
  }
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__item:last-child {
    display: block;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 76px;
    justify-content: center;
  }
  .assortment__list {
    margin-bottom: 120px;
  }
}

@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .top__text {
    font-size: 24px;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .menu__list {
    width: 360px;
  }
  .logo {
    margin-right: auto;
  }
  .logo img {
    width: 40px;
  }
  .assortment {
    margin-bottom: 0px;
  }
  .assortment__list {
    margin-bottom: 67px;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 20px;
    justify-content: center;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews__item {
    flex-basis: 220px;
  }
}
@media (max-width: 360px) {
  .user-actions__user {
    margin-left: 0;
  }
  .header__inner {
    padding: 10px 0;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner {
    min-height: 367px;
  }
  .blockquote__text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
    line-height: 1.5;
  }

  .assortment__title {
    margin-bottom: 0;
    font-size: 24px;
  }
  .assortment__img {
    max-width: 170px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .reviews__item {
    flex-basis: 100%;
  }
  .reviews__item:last-child,
  .reviews__item:first-child {
    display: none;
  }
}
