@media (max-width: 1000px) {
  .user-actions__user {
    margin-left: 30px;
  }

  .menu {
    margin-right: auto;
  }

  .menu__item:last-child .menu__link {
    white-space: nowrap;
  }

  .logo {
    margin-bottom: 0px;
  }

  .header__inner {
    min-height: auto;
  }

  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }

  .assortment__title {
    margin-bottom: 30px;
  }
  .assortment {
    margin-bottom: 120px;
  }
  .assortment__list {
    gap: 0;
  }
  .reviews__item:last-child {
    display: none;
  }

  .assortment__list {
    margin-bottom: 120px;
  }
  .main-blog {
    padding: 120px 0;
  }
  .main-blog__item-img {
    width: 230px;
    height: 153px;
  }
  .main-blog__list {
    gap: 67px 21px;
  }
  .main-blog__item-author {
    margin: auto 0;
  }
  .mailing-list {
    padding: 60px 0;
  }

  .mailing-list__inner {
    flex-direction: column;
    gap: 60px;
  }

  .mailing-list__title {
    text-align: center;
  }

  .mailing-list__text {
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
  }

  .mailing-list__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
  }

  .mailing-list__email {
    width: calc(100% - 130px);
    max-width: 439px;
    margin-bottom: 0;
    margin-right: 25px;
  }

  .mailing-list__btn {
    width: 116px;
    margin-left: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .mailing-list__checkbox-label {
    width: 100%;
    margin-top: 20px;
    max-width: 580px;
  }
  .checkbox-style {
    height: 10px;
    width: 10px;
  }
  .prioritise {
    padding: 120px 0;
  }
  .prioritise__inner {
    grid-template-columns: repeat(2, 257px);
    gap: 30px 210px;
  }
}

@media (max-width: 860px) {
  .user-actions {
    margin-left: -60px;
  }
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: white;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.6s ease;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Cormorant", serif;
  }
  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px 60px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }
  .menu__btn {
    display: flex;
  }

  .menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.5);
  }

  .menu--close.menu--open {
    display: block;
  }

  .mobile-nav,
  .menu__close {
    display: block;
  }

  .menu {
    order: -1;
    margin-right: 0;
  }
  .logo {
    margin-left: auto;
    margin-right: 154px;
  }
}
@media (min-width: 767px) and (max-width: 840px) {
  .main-blog__list {
    display: block;
  }

  .main-blog__item {
    margin-bottom: 30px;
    width: calc(100% - 64px);
  }

  .main-blog__item:nth-child(1),
  .main-blog__item:nth-child(3) {
    margin-left: 64px;
  }

  .main-blog__item:nth-child(2),
  .main-blog__item:nth-child(4) {
    margin-left: 163px;
  }

  .main-blog__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 833px) and (max-width: 860px) {
  .user-actions {
    margin-left: 56px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .blockquote__text {
    max-width: 640px;
  }
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__item:last-child {
    display: block;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 76px;
    justify-content: center;
  }
  .assortment__list {
    margin-bottom: 120px;
  }
  .main-blog__list {
    display: block;
  }

  .main-blog__item {
    margin-bottom: 30px;
    width: calc(100% - 64px);
  }

  .main-blog__item:nth-child(1),
  .main-blog__item:nth-child(3) {
    margin-left: 64px;
  }

  .main-blog__item:nth-child(2),
  .main-blog__item:nth-child(4) {
    margin-left: 163px;
  }

  .main-blog__item:last-child {
    margin-bottom: 0;
  }
  .prioritise__inner {
    gap: 89px;
  }

  .footer__inner {
    gap: 30px;
  }

  .footer__bottom {
  }
}

@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .top__text {
    font-size: 24px;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .menu__list {
    width: 360px;
  }
  .logo {
    margin-right: auto;
  }
  .logo img {
    width: 40px;
  }
  .assortment {
    margin-bottom: 0px;
  }
  .assortment__list {
    margin-bottom: 67px;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 20px;
    justify-content: center;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews__item {
    flex-basis: 220px;
  }

  .mailing-list__form {
    flex-direction: column;
  }
  .mailing-list__email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .mailing-list__btn {
    width: 100%;
    max-width: 200px;
  }
  .main-blog__item:nth-child(1),
  .main-blog__item:nth-child(3) {
    margin-left: 0;
  }
  .main-blog__item:nth-child(2),
  .main-blog__item:nth-child(4) {
    margin-left: 0;
  }
  .main-blog__item {
    width: auto;
  }
  .main-blog__item-title {
    margin: 0;
  }
  .prioritise__inner {
    grid-template-columns: repeat(1, 257px);
  }
  .prioritise {
    padding: 60px 0;
  }
  .prioritise__title {
    margin-bottom: 30px;
  }
  .prioritise__inner {
    gap: 50px;
  }
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    padding: 50px 0;
  }
  .footer__column:nth-child(3) {
    grid-column: span 2;
  }
  .footer__quote-author br {
    display: none;
  }
  .footer__column-title {
  }
  .footer__contact-text {
    text-align: center;
  }
  .footer__logo-wrapper {
    gap: 25px;
  }
  .footer__contact-items {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .user-actions__user {
    margin-left: 0;
  }
  .header__inner {
    padding: 10px 0;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner {
    min-height: 367px;
  }
  .blockquote__text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
    line-height: 1.5;
  }

  .assortment__title {
    margin-bottom: 0;
    font-size: 24px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .assortment__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .assortment__img {
    max-width: 169px;
    width: 100%;
    height: auto;
  }

  .reviews__item {
    flex-basis: 100%;
  }
  .main-blog {
    text-align: center;
  }
  .main-blog__item {
    display: inline;
  }

  .main-blog__item:nth-child(3),
  .main-blog__item:nth-child(4) {
    display: none;
  }

  .reviews__item:last-child,
  .reviews__item:first-child {
    display: none;
  }
}
