@media (max-width: 1000px) {
  .user-actions__user {
    margin-left: 30px;
  }

  .menu {
    margin-right: auto;
  }

  .menu__list {
    margin-left: 60px;
    gap: 0 40px;
  }

  .menu__item:last-child .menu__link {
    white-space: nowrap;
  }

  .logo {
    margin-bottom: 0px;
  }

  .header__inner {
    min-height: auto;
  }

  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }
}

@media (max-width: 860px) {
  .menu {
    order: -1;
  }
  .logo {
    margin-left: auto;
    margin-right: 154px;
  }

  .menu__list {
    display: none;
  }

  .menu__btn {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .blockquote__text {
    max-width: 640px;
  }
}
@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .top__title {
    font-size: 40px;
  }
  .top__text {
    font-size: 24px;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}
