html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
}
ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #161518;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 140px;
}

.logo {
  margin-bottom: 35px;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.menu--close {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: background-color 0.3s ease;
}

.menu--close.menu--open {
  display: block;
}

.mobile-nav,
.menu__close {
  display: none;
}

.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}

.menu__list {
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 85px;
  gap: 0 65px;
  z-index: 1000;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-left: 60px;
}

.user-actions__user {
  margin-left: 30px;
}

.top {
  background-image: url(../images/fon.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  width: 100%;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  color: #fff;
  font-family: "Cormorant", serif;
  font-weight: 400;
}

.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote__text {
  font-family: "Cormorant", serif;
  font-style: italic;
  max-width: 704px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin: 150px auto;
}

.assortment {
  margin-bottom: 150px;
}

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.assortment__img {
  width: 208px;
  height: 208px;
}
.assortment__name {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 400px;
  font-family: "Cormorant", serif;
}
.title {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}
.reviews {
  background-color: #f7f2ea;
  padding-bottom: 30px;
  padding-top: 30px;
}
.reviews__list {
  display: flex;
  gap: 0 26px;
  justify-content: center;
}
.reviews__item {
  flex-basis: 280px;
}
.reviews__text {
  font-size: 16px;
  font-family: "Open Sans";
  font-style: italic;
  margin-bottom: 10px;
}
.reviews__name {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
}
.main-blog {
  padding: 150px 0;
}

.main-blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 75px;
  margin-bottom: 60px;
}

.main-blog__item {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: stretch;
}

.main-blog__item-img {
  object-fit: cover;
  width: 230px;
  height: 153px;
}

.main-blog__item-content {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  height: 153px;
}

.main-blog__item-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px 0;
  font-family: "Cormorant", serif;
  line-height: 1.3;
}

.main-blog__item-author {
  font-size: 13px;
  color: #666;
  margin: auto 0;
  text-decoration: none;
}

.main-blog__item-link {
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-top: auto;
}

.main-blog__link {
  display: block;
  width: 149px;
  height: 51px;
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  border: 1px solid #000;
}

.mailing-list {
  padding: 100px 0;
  background-color: #f7f2ea;
}

.mailing-list__title {
  text-align: left;
}

.mailing-list__inner {
  display: flex;
  gap: 45px;
}

.mailing-list__text {
  flex: 1;
  line-height: 1.5;
}

.mailing-list__form {
  flex: 1;
}

.mailing-list__email {
  width: 439px;
  height: 51px;
  padding: 0 15px;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 15px;
}

.mailing-list__email::placeholder {
  color: #b8b8b8;
}

.mailing-list__btn {
  width: 116px;
  height: 51px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-left: 17px;
}

.mailing-list__checkbox-label {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox-style {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background-color: #fff;
  flex-shrink: 0;
  margin-top: 3px;
}

.checkbox:checked + .checkbox-style {
  background-color: #000;
}

.checkbox__text {
  font-size: 13px;
  color: #666;
  line-height: 1.4;
  margin: 0;
}

/* Prioritise section */
.prioritise {
  padding: 150px 0;
}

.prioritise__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 49px;
}

.prioritise__item {
  text-align: center;
}

.prioritise__item-title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.prioritise__item-text {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 43px;
  font-weight: 600;
}

/* Footer */
.footer {
  padding: 100px 0;
  background-color: #f7f2ea;
}

.footer__inner {
  display: grid;
  grid-template-columns: 228px 228px 1fr 270px; /* 4 колонки */
  gap: 40px;
  margin-bottom: 60px;
}

.footer__column-title {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.footer__list {
  list-style: none;
}

.footer__list-item {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer__list-link {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__list-link:hover {
  color: #000;
}

/* 3-я колонка - цитата */
.footer__quote {
  margin-top: 79px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
  max-width: 269px;
}

.footer__quote-author {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}

.footer__contact-text {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}
.footer__contact-phone,
.footer__contact-email {
  margin-left: 128px;
}

.footer__contact-phone,
.footer__contact-email {
  display: block;
  margin-top: 10px;
  font-size: 13px;
}

.footer__contact-phone:hover,
.footer__contact-email:hover {
  text-decoration: underline;
}

.footer__bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #999;
}
