html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #161518;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 140px;
}
.logo {
  margin-bottom: 35px;
}
.menu__list {
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 85px;
  gap: 0 65px;
}
.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.user-actions__search {
  margin-left: 80px;
}
.user-actions__user {
  /* ← ДОБАВИЛ */
  margin-left: 30px;
}

.top {
  background-image: url(../images/fon.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
}
.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  color: #fff;
  font-family: "Cormorant", serif;
  font-weight: 400;
}
.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}
.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}
.blockquote__text {
  font-family: "Cormorant", serif;
  font-style: italic;
  max-width: 704px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin: 150px auto;
}
